* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
  display: flex;
}

header {
  width: 100vw;
  background: rgb(255, 155, 171);
  height: 70px;
  padding: 15px;
  display: flex;
  justify-content: space-around;

  position: fixed;
  top: 0;
}

.logo{
  font-size: 20px;
  margin-right: 200px;
}

ul{
  list-style: none;
}

.h-nav ul li{
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 10px;
}

a{
  text-decoration: none;
  color: black;
}

.btn-login{
  background-color: white;
  border: 3px solid white;
  border-radius: 5px;
  padding: 3px;
}

.top-right{
  background-color: white;
  margin-bottom: auto;
}

/* 버튼들 */
.btns{
  margin-left: 80px;
}

.h-nav1 ul li{
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  margin: 30px;
  position: center;
}

.down .btn-down{
  color: black;
  background-color: white;
  border-radius: 7px;
  padding: 7px;
}

.open .btn-open{
  color: white;
  background: rgb(0, 0, 0);
  border-radius: 7px;
  padding: 7px;
}

.main_image{
  z-index: 5;
  margin-top: 70px;
}

.main_text{
  color: white;
}

.main_center{
  margin-left: 20%;
  font-size: 40px;
  font-family: 'Nanum Pen Script', cursive;
  margin-bottom: 30px;
}

.main_middle{
  font-size: 30;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main_image_text{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* 중간 */
section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

content>section:nth-of-type(1){
  margin-top: 100px;
}

h3{
  font-size: 45px;
}

.fifth-img{
  margin-left: auto;
}

.fifth{
  background: rgb(247, 242, 233);
  width: 100%;
  margin-top: 80px;
  display: fixed;
  padding-bottom: 100px;
}

.fifth h4{
  margin-left: 15%;
  margin-bottom: 1.5%;
  font-size: 60px;
  padding-top: 70px;
}

.fifth p{
  margin-left: 15%;
  margin-bottom: 60px;
}

.fifth img{
  margin-left: 10%;
  margin-bottom: 100px;
}

.fifth h2{
  margin-left: 35%;
  font-size: 35px;
  margin-bottom: 30px;
}

.fifth .btn{
  color: white;
  background:rgb(252, 89, 116);
  border-radius: 20px;
  padding: 8px;
  display: block;
  width: 220px;
  margin: auto;
}

/* 마지막 */

footer{
  /* background-color: black; */
  background-color: rgb(99, 99, 99);
}


.f-nav{
  display: flex;
  height: 350px;
  padding-top: 30px;
}

.f-nav ul{
  margin-left: 130px;
  margin-right: 80px;
}

.f-nav li{
  padding: 10%;
}

.f-nav ul li{
  font-size: 13px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.f-nav ul p{
  color:rgb(252, 89, 116);
  font-size: 18px;
}

.f-nav ul .kr{
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.f-nav ul h1{
  color:rgb(252, 89, 116);
}

hr{
  margin: auto;
}

.last{
  margin-top: 50px;
  padding-bottom: 70px;
  color: white;
}

.last a{
  color: white;
  background:rgb(252, 89, 116);
  border-radius: 18px;
  padding: 7px;
}

.last pre{
  margin-left: 80px;
}

.last a{
  margin-left: 91%;
}

